.text {
    margin: 0  40px 40px;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
}

@media (max-width: 480px) {
    .text {
        margin: 0 20px 20px;
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    .text {
        margin: 0 10px 10px;
        font-size: 13px;
    }
}