.btn {
    width: 50%;
    height: 40px;
    border: none;
    font-size: 20px;
}

.result {
    margin: 0;
    padding: 20px;
}

.btn:nth-child(2) {
    background-color: #4cbb94;
    border-bottom-left-radius: 10px;
}
.btn:nth-child(3) {
    background-color: #e55043;
    border-bottom-right-radius: 10px;
}