
.quiz_header{
    padding: 64px;
}

ul{
    list-style: none;
    padding: 0;
}
ul li{
    font-size: 20px;
    margin: 15px 0;
}
ul li label{
    cursor: pointer;
}
.btn{
    background-color: #0563bb;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}
button:hover{
    background-color: #438faa;
}
button:focus{
    outline: none;
    background-color: #5ec6eb;
}