
.quiz_header{
    padding: 75px;
}

ul{
    list-style: none;
    padding: 0;
}
ul li{
    font-size: 20px;
    margin: 15px 0;
}
ul li label{
    cursor: pointer;
}
.btn{
    background-color: #0563bb;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}
.btn:hover{
    background-color: #438faa;
}
.btn:focus{
    outline: none;
    background-color: #5ec6eb;
}

.overlay {
    background: #F9A93F;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
}

.btn_block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.btn_block_item {
    width: 50%;
    height: 75px;
    display: flex;
}

.answer_btn {
    padding: 0;
    margin: 9px;
    background-color: inherit;
    border-radius: inherit;
    width: 100%;
    border: none;
    font-size: 20px;
}

.btn_block_item:nth-child(1) {
    background-color: #882146;
    border-top-left-radius: 10px;
}
.btn_block_item:nth-child(2) {
    background-color: #f8d67d;
    border-top-right-radius: 10px;
}
.btn_block_item:nth-child(3) {
    background-color: #4cbb94;
    border-bottom-left-radius: 10px;
}
.btn_block_item:nth-child(4) {
    background-color: #e55043;
    border-bottom-right-radius: 10px;
}

@media (max-width: 420px) {
    .answer_btn {
        font-size: 16px;
    }
}
